{{ $img := .image }}
{{ $alt := .alt }}
{{ $class := .class }}
{{ $loading := .loading | default "lazy" }}

{{ $small := $img.Resize "300x" }}
{{ $medium := $img.Resize "600x" }}
{{ $large := $img.Resize "1200x" }}
{{ $xlarge := $img.Resize "1800x" }}

{{ $smallWebp := $img.Resize "300x webp" }}
{{ $mediumWebp := $img.Resize "600x webp" }}
{{ $largeWebp := $img.Resize "1200x webp" }}
{{ $xlargeWebp := $img.Resize "1800x webp" }}

<picture>
  <source
    srcset="{{ $smallWebp.RelPermalink }} 1x, {{ $mediumWebp.RelPermalink }} 2x"
    type="image/webp">
  <source
    media="(min-width: 1200px)"
    srcset="{{ $largeWebp.RelPermalink }} 1x, {{ $xlargeWebp.RelPermalink }} 2x"
    type="image/webp">
  <source
    media="(min-width: 768px)"
    srcset="{{ $mediumWebp.RelPermalink }} 1x, {{ $largeWebp.RelPermalink }} 2x"
    type="image/webp">
  <source
    media="(min-width: 1200px)"
    srcset="{{ $large.RelPermalink }} 1x, {{ $xlarge.RelPermalink }} 2x">
  <source
    media="(min-width: 768px)"
    srcset="{{ $medium.RelPermalink }} 1x, {{ $large.RelPermalink }} 2x">
  <img
    src="{{ $smallWebp.RelPermalink }}"
    alt="{{ $alt }}"
    width="{{ $small.Width }}"
    height="{{ $small.Height }}"
    {{ with $class }}class="{{ . }}" {{ end }}
    loading="{{ $loading }}"
    decoding="async">
</picture>